@{
    ViewData["Title"] = "Index";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><h1>hello 你好我是 @ViewBag.username ,欢迎一起学习.net core</h1></p>


<p><h1>本项目是基于asp.net core 2.0 的开发框架，项目开源地址：
    <a href="https://github.com/2014fighting/CodeFrame.Web">
        https://github.com/2014fighting/CodeFrame.Web
    </a></h1></p>
<p><h1>运行环境 .Net Core2.0+CentOS7.3 +nginx1.12.2+mysql5.6</h1></p>
<p><h2>操作请<a href="@Url.Action("Login","Account")">登入</a>.</h2></p>