<form class="layui-form" action="">
    <fieldset class="layui-elem-field site-demo-button" style="margin: 0">
        <legend><button class="layui-btn layui-btn-primary layui-btn-small">点击隐藏</button></legend>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">验证手机</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="phoneNo" lay-verify="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="trueName" lay-verify="" autocomplete="off" placeholder="请输入名称" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" lay-verify="userName" autocomplete="off" placeholder="请输入名称" class="layui-input">
                    </div>
                </div>

            </div>
      

        </div>

        <div style="float: left">
            <button class="layui-btn layui-btn-normal layui-btn-radius" lay-submit="" lay-filter="demo1">查询</button>
            <button type="reset" class="layui-btn layui-btn-normal layui-btn-radius">重置</button>
        </div>
    </fieldset>
</form>
<div class="layui-btn-group mytool">
    <button class="layui-btn layui-btn-primary layui-btn-small" onclick="myadd();"><i class="layui-icon"></i>新增</button>
    <button class="layui-btn layui-btn-primary layui-btn-small"><i class="layui-icon"></i>编辑</button>
    <button class="layui-btn layui-btn-primary layui-btn-small"><i class="layui-icon"></i>删除</button>
</div>
<table id="demo"></table>


    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layer = layui.layer;
    function GetTest() {
        $.get('@Url.Action("Getinfo")',
            function(data) {
                console.info(data);
            });
    }
    var tableIns;
    function hideTest(obj) {
        $(obj).parent().parent().remove();
        tableIns.reload({
            heigth: getHeight()
        });
    }
    function myadd() {
        //iframe窗
        layer.open({
            type: 2,
            title: '很多时候，我们想最大化看，比如像这个页面。',
            shadeClose: true,
            //shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: '//fly.layui.com/'
        });
    }

    layui.use(['form', 'layedit', 'laydate','table'],
        function() {

            var form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , table = layui.table;

            //日期
            laydate.render({
                elem: '#date'
                , type: 'datetime'
            });
 

            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field),
                    {
                        title: '最终的提交信息'
                    });
                return false;
            });


            //展示已知数据
            tableIns=table.render({
                elem: '#demo',
                url: '@Url.Action("GetUserInfo")'
                , height:getHeight()
                , cols: [[ //标题栏
                    { checkbox: true, LAY_CHECKED: true } //默认全选
                    , { field: 'id', title: 'id', width: 80, sort: true }
                    , { field: 'userName', title: '用户名', width:220 }
                    , { field: 'trueName', title: '真实姓名', width: 150 }
                    , { field: 'password', title: '密码', width: 150 }
                    , { field: 'phoneNo', title: '电话', width: 80 }
                    , { field: 'updateTime', title: '修改时间', width: 100 }
                    , { field: 'creteTime', title: '创建时间', width: 80, sort: true }
                ]]
                , skin: 'row' //表格风格
                , even: true
                , page: true //是否显示分页
                , limits: [5, 7, 10,100]
                , limit: 5 //每页默认显示的数量
            });
        });


</script>

